.friend_page_wrapper {
  background-color: #f5efe6;
}

.friend_list {
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  line-height: 1.5;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
}
