.chatlist_title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 40px 10px;
}

.chatlist_list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .chatroom_info {
    display: flex;
    gap: 20px;
    padding: 15px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #ffffff;
    border-bottom: 1px solid #ebebeb;
    align-items: center;
    &:hover {
      background-color: #ebebeb;
    }
    .last_message {
      width: calc(100% - 100px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
