.mobile_layout {
  background-color: rgb(255, 255, 255);
  margin: auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  width: 90%;
  overflow: hidden;
  // scrollbar

  .mobile_content {
    padding: 20px;
    height: calc(100vh - 150px);
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #c4c4c4;
      border-radius: 10px;
    }
  }
  &.no_footer {
    .mobile_content {
      height: calc(100vh - 100px);
    }
  }
}

.header_layout {
  height: 100px;
  padding: 30px 20px 20px 20px;
  position: relative;
  .right_button {
    position: absolute;
    right: 40px;
    background-color: #5476ac;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 50px;
    width: 120px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #4757e8;
    }
  }
  .back_button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    img:hover {
      filter: invert(0.3);
    }
  }
}

.footer_layout {
  height: 40px;
  background-color: rgba(239, 239, 239, 0.595);
  position: sticky;
  bottom: 0px;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;

    background-color: #abdaf9;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      background-color: #c2c2c3;
    }
    &.active {
      background-color: #4a74f2;
    }
  }
}
