.mobile_layout {
  height: calc(100vh - 100px);
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 20px;
  overflow-y: auto;
  position: relative;
}

.header_layout {
  height: 100px;
  padding: 30px 20px 20px 20px;
  position: relative;
  .right_button {
    position: absolute;
    right: 40px;
    background-color: #5476ac;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 50px;
    width: 120px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #4757e8;
    }
  }
  .back_button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    img:hover {
      filter: invert(0.3);
    }
  }
}

.footer_layout {
  height: 40px;
  background-color: rgba(239, 239, 239, 0.595);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;

    background-color: #77c3f6;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: #565a7d;
    }
    &.active {
      background-color: #818efc;
    }
  }
}
